%td= object.book.name
%td= object.friend.full_name
%td= object.borrow_date ? object.borrow_date.strftime("%d-%m-%Y") : :No
%td= object.return_date ? object.return_date.strftime("%d-%m-%Y") : :No
%td= object.is_lost ? "Yes" : "No"
%td= object.is_damaged ? "Yes" : "No"
%td= object.comment
%td.actions{align: :right}= smart_listing_item_actions [{name: :edit, url: edit_borrowing_path(object)},
                                          {name: :destroy, url: borrowing_path(object), confirmation: "Are you sure you want to delete this?"}]
