.page-header
  %h1
    Borrowings
  = smart_listing_controls_for(:borrowings, {class: "form-inline text-right"}) do
    .checkbox
      %label.checkbox.inline
        = hidden_field_tag :is_lost, "0"
        = check_box_tag :is_lost
        = "Is lost"
    &nbsp;&nbsp;
    .checkbox
      %label.checkbox.inline
        = hidden_field_tag :is_damaged, "0"
        = check_box_tag :is_damaged
        = "Is damaged"

= smart_listing_render(:borrowings)
