<p>
  <strong>Book:</strong>
  <%= @borrowing.book.name %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @borrowing.friend.full_name %>
</p>

<p>
  <strong>Borrow date:</strong>
  <%= @borrowing.borrow_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @borrowing.return_date %>
</p>

<p>
  <strong>is_lost:</strong>
  <%= @borrowing.is_lost %>
</p>

<p>
  <strong>is_damaged:</strong>
  <%= @borrowing.is_damaged %>
</p>

<p>
  <strong>comment:</strong>
  <%= @borrowing.comment %>
</p>

<%= link_to 'Back', borrowings_path %>
