<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :book_name %>
  </div>

  <div class="field">
    <%= form.label :pub_year %>
    <%= form.number_field :pub_year, id: :book_pub_year %>
  </div>

  <div class="field">
    <%= form.label :pic_author %>
    <%= form.text_field :pic_author, id: :book_pic_author %>
  </div>

  <div class="field">
    <%= form.label :translator %>
    <%= form.text_field :translator, id: :book_translator %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :book_author %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :book_comment %>
  </div>

  <div class="field">
    <%= form.label :publishing_house %>
    <%= collection_select(:book, :publishing_house, PublishingHouse.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :genres %>
    <%= collection_check_boxes(:book, :genres, Genre.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
