%td{colspan: 9}
  = form_for object, url: object.new_record? ? books_path : book_path(object),
                     remote: true, html: {class: "form-horizontal"} do |f|
    %p
      Name:
      = f.text_field :name

      %p
        Publication year:
        = f.number_field :pub_year

      %p
        Pictures author:
        = f.text_field :pic_author

      %p
        Translator:
        = f.text_field :translator

      %p
        Author:
        = f.text_field :author

      %p
        Comment:
        = f.text_area :comment

      %p
        Publisihng house:
        = collection_select(:book, :publishing_house, PublishingHouse.all, :id, :name)

      %p
        Genres:
        = collection_check_boxes(:book, :genres, Genre.all, :id, :name)

    = f.submit "Save", class: "btn btn-primary"
    %button.btn.btn-link.cancel Cancel
