<% unless smart_listing.empty? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= smart_listing.sortable "Book name", :name %></th>
        <th><%= smart_listing.sortable "Author", :author %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% smart_listing.collection.each do |book| %>
        <tr>
          <td>
            <%= book.name %>
          </td>
          <td>
            <%= book.author %>
          </td>
          <td><%= link_to 'Show', book, class: 'btn btn-xs'  %></td>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= smart_listing.item_new link: new_book_path %>

  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p class="warning">No records!</p>
<% end %>
