<% unless smart_listing.empty? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-6"><%= smart_listing.sortable "Name", :name %></th>
      </tr>
    </thead>
    <tbody>
      <% smart_listing.collection.each do |publishing_house| %>
        <tr>
          <td><%= publishing_house.name %></td>
          <td><%= link_to 'Show', publishing_house %></td>
          <td><%= link_to 'Edit', edit_genre_path(publishing_house) %></td>
          <td><%= link_to 'Destroy', publishing_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= smart_listing.item_new link: new_publishing_house_path %>

  <%= smart_listing.paginate %>
  <%= smart_listing.pagination_per_page_links %>
<% else %>
  <p class="warning">No records!</p>
<% end %>
